.imahe1 img{

	
    width: 600px;
    height: 500px;
    margin-left: 28px;
    margin-top: 1%;
    text-align: center;
}
.imahe2 img{

	
    width: 600px;
    height: 500px;
    margin-left: 280px;
    margin-top: 1%;
    text-align: center;
}