.titles{
	background: rgb(24, 247, 247);
height: 150px;
width: 1348px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(238, 12, 12);
margin-left: -8px;
font-size: 40px;
text-align: center;
margin-top: -5%;
font-style: italic;
padding-top: 3px;

}
#container{

    margin-left: -8px;

background-color: rgb(27, 88, 40);
width:1348px;
}
#container ul  {
	margin: 0px;
	padding: 15px;
	text-align:center;


}
#container ul li {

    display: inline;
	padding: 12px;
	
	font-size:30px;
    color: rgb(236, 252, 9);
    
}

#container  ul li a{
	text-decoration: none;
	color: rgb(236, 252, 9);
	font-size: 40px;
	
}
#container ul li a:hover{

	padding: 15px;
	color: rgb(248, 209, 202);
	
}
.backimage img{

	
width: 1348px;
height: 500px;
margin-left: -8px;
margin-top: 0%;
text-align: center;

}
#name p { 
	
	height: 40px;
	width: 1348px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(238, 12, 12);
	margin-left: -8px;
	font-size: 40px;
	text-align: center;
	margin-top: -5%;
	font-style: italic;
	padding-top: 3px;
}